# Compiled Object files
*.o
*.obj
*.out
*.exe
*.app

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.so
*.dll
*.dylib

# Debug files
*.dSYM/
*.stackdump

# VS Code
.vscode/

# CMake
CMakeFiles/
CMakeCache.txt
cmake-build-*/

# Temporary files
*.tmp
*.temp

# OS files
.DS_Store
Thumbs.db